body{
    margin: 0px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.material-icons{
    vertical-align: middle;
    color: gray;
    user-select: none;
}
.main-area{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 66px;
}
.searchbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchbox-container .logo{
    margin: 40px 40px 30px 40px;
}
.searchbox-container .search-form{
    margin-bottom: 20px;
}
.search-box{
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid #dfe1e5;
    padding: 10px;
}
.search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.search-box .material-icons{
    font-size: 1.2em;
}
.search-box .mic{
    font-size: 1.5em;
}
.search-form .search-area{
    background-color: transparent;
    width:37vw;
    border:none;
    outline: none;
}
.searchbox-container .button-container{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.button-container button{
    background-color: #F1F1F1;
    color: #5F6368;
    border-radius: 4px;
    padding: 8px 15px;
    font-size:14px;
    border: 1px solid #F1F1F1;
}
.button-container button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
    cursor: pointer;
} 
.button-container button:active{
    border: 1px solid cornflowerblue;
}
.footerbar{
    display:flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    width: 99%;
    padding: 5px 10px 5px 10px;
    background-color: gray;
}

.footerbar .links-container{
    margin: 5px 10px 5px 10px;
}
